{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
%}

<div id="main-header">

  <div class="text-right firstnav">
    <div class="container">
      <div class="col-md-12">
      {% if page.firstnav %}
        {% block firstnav %}
              {{ page.firstnav }}   
        {% endblock %}
      {% endif %}
      </div>
    </div>
  </div>

<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
    
    <div class="col-md-12" style="padding: 0;">
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>
      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </div>
</header>
</div>
  {% endblock %}
{% endif %}


<div class="text-right headbanner">
    {% if page.headbanner %}
      {% block headbanner %}
            {{ page.headbanner }}   
      {% endblock %}
    {% endif %}
</div>


{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-4" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-8',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-8',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

      {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-4" role="complementary">
            <div class="insideblock">
              {{ page.sidebar_second }}
            </div>
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.second_content %}
  {% block second_content %}
  <section id="second-content">
        {{ page.second_content }}
  </section>    
  {% endblock %}
{% endif %}

{% if page.third_content %}
  {% block third_content %}
  <section id="third-contnet" class="module parallax parallax-3">
        {{ page.third_content }}
  </section>    
  {% endblock %}
{% endif %}

{% if page.footer %}
  {% block footer %}
  <footer>
        {{ page.footer }}
  </footer>    
  {% endblock %}
{% endif %}



<section id="termsandconditions">
  <div class="container">
    <div class="col-md-8">
      <h4>THE CANDY</h4>
      <p>Adult Lifestyle Directory and Entertainment</p>
      <p><span>Models | Escorts | Companions | Masseuse & Masseur | Dancers </span></p>
      <p><span><a href="#">Privacy Policy</a></span> | <span><a href="#">Terms and Conditions</a></span>
        </p>
    </div>
    <div class="col-md-4">
      <h4>CONTACT AND SUPPORT</h4>
      <p><span><b>Cell: </b> 081 584 7730 </span> / <span> <b>Whatsapp:</b> 081 584 7730</span></p>
      <p><b>E-mail:</b> <a href="/contact-us">web@thecandy.co.za</a></p>
      <p><a href="/contact-us">Advertise With Us</a></p>
    </div>
  </div>
</section>


<section id="copyright">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          © Copyright The Candy 2020. All Rights Reserved.
        </div>
        <div class="col-md-6 text-right">
          18+ Adults Only
        </div>
    </div>
  </div>
</section>