@media only screen and (max-width: 767px) {
  form .panel-default .panel-body .form-item {
    margin: 7px 0;
    width: 100%; }
  form .panel-default .panel-body .field--type-datetime, form .panel-default .panel-body .field--type-decimal {
    margin: 7px 0;
    width: 100%; }
  form .panel-default .panel-body .field--name-field-availability, form .panel-default .panel-body .field--name-field-category, form .panel-default .panel-body .field--name-field-gender {
    width: 100%;
    margin: 7px 0;
    line-height: 27px; }
  form .panel-default .panel-body .field--type-entity-reference {
    width: 100%;
    margin: 7px 0; }
  form .panel-default .panel-body .field--widget-text-textarea .form-item {
    width: 100%; }
  #edit-group-photos-and-videos .field--type-file, #edit-group-photos-and-videos .field--type-image {
    width: 100%; } }
