body {
  margin-top: 0px;
  font-family: 'robotoregular',Helvetica,Arial,sans-serif;
  color: #333e48; }
  body h1, body h2 {
    font-family: 'robotobold',Helvetica,Arial,sans-serif;
    font-weight: bold; }
  body h3, body h4 {
    font-family: 'robotomedium',Helvetica,Arial,sans-serif;
    font-weight: bold; }
  body .fontlight {
    font-family: 'robotolight',Helvetica,Arial,sans-serif; }
  body .fontthin {
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 100; }

a {
  color: #900c3f; }

a:hover {
  color: #c70039; }

.select-wrapper:after {
  color: #333e48; }

.btn-success {
  color: #fff;
  background-color: #900c3f;
  border-color: #900c3f;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 13px; }

.btn-primary {
  color: #fff;
  background-color: #900c3f;
  border-color: #900c3f;
  padding: 10px 20px; }

.btn-primary:hover {
  background-color: #c70039;
  border-color: #c70039; }

.btn-success:hover {
  background-color: #c70039;
  border-color: #c70039; }

.password-strength__indicator {
  background-color: #900c3f; }

.page-header {
  text-transform: capitalize; }

.path-user .user-login-form {
  padding: 40px 0; }

.user-form #edit-timezone {
  display: none; }

#main-header {
  max-width: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 0px 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(144, 12, 63, 0.895396) 0%); }
  #main-header .firstnav {
    margin-top: -2px;
    background: #900c3f; }
    #main-header .firstnav .menu--account li a {
      padding: 5px 15px;
      color: #ccc;
      border-right: 1px solid #900c3f;
      text-transform: uppercase;
      font-size: 12px; }
    #main-header .firstnav .menu--account li a:hover {
      text-decoration: none;
      background-color: #900c3f;
      color: #fff; }

.navbar-default {
  padding: 0;
  background: 0 0;
  border: 0;
  border-radius: 0;
  margin: auto; }
  .navbar-default .navbar-collapse {
    padding: 0; }
    .navbar-default .navbar-collapse .navbar-nav {
      float: right;
      margin: 0; }
      .navbar-default .navbar-collapse .navbar-nav li a {
        color: #ccc;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        color: #fff;
        background-color: #900c3f; }

.headbanner {
  background-color: #fff;
  background-image: url(https://images.unsplash.com/photo-1582937588284-3f10bc112ec1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: 100%;
  background-position: center; }
  .headbanner .block-views-blockuser-profile-block-6 img {
    opacity: 0.0; }

.profileedit a {
  margin: 0 10px; }

#block-views-block-banners-block-1 {
  margin-bottom: 40px; }

#block-registrationbanner {
  padding: 100px 0;
  margin-bottom: 40px; }

.user-register-form {
  margin-bottom: 60px; }

form .panel-default {
  border-color: #f9f9f9; }
  form .panel-default .panel-heading {
    color: #900c3f;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    text-transform: uppercase; }
  form .panel-default .panel-body {
    padding: 15px;
    background: #fafafa;
    margin: 5px; }
    form .panel-default .panel-body .form-item {
      float: left;
      margin: 1%;
      width: 48%;
      box-shadow: none; }
      form .panel-default .panel-body .form-item label {
        text-transform: capitalize;
        font-weight: normal; }
      form .panel-default .panel-body .form-item .form-control {
        border: 1px solid #f2f2f2;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
        height: 37px;
        width: 100%; }
    form .panel-default .panel-body .form-item.form-item-pass {
      width: 100%;
      margin: 0; }
    form .panel-default .panel-body .field--type-decimal, form .panel-default .panel-body .field--type-datetime {
      overflow: hidden;
      float: left;
      margin: 1%;
      width: 48%; }
      form .panel-default .panel-body .field--type-decimal label, form .panel-default .panel-body .field--type-datetime label {
        font-weight: normal;
        margin-bottom: 0; }
      form .panel-default .panel-body .field--type-decimal .form-item, form .panel-default .panel-body .field--type-datetime .form-item {
        width: 100%;
        margin: 0; }
    form .panel-default .panel-body .field--type-entity-reference {
      overflow: hidden;
      float: left;
      width: 48%;
      margin: 1%; }
      form .panel-default .panel-body .field--type-entity-reference .form-item {
        width: 100%;
        margin: 0; }
    form .panel-default .panel-body .field--name-field-currency {
      width: 98%; }
    form .panel-default .panel-body .field--name-field-gender, form .panel-default .panel-body .field--name-field-category, form .panel-default .panel-body .field--name-field-availability {
      width: 31.3%; }
      form .panel-default .panel-body .field--name-field-gender .fieldset-legend, form .panel-default .panel-body .field--name-field-category .fieldset-legend, form .panel-default .panel-body .field--name-field-availability .fieldset-legend {
        font-weight: 400;
        font-size: 14px; }
    form .panel-default .panel-body .field--widget-text-textarea .form-item {
      width: 98%; }
      form .panel-default .panel-body .field--widget-text-textarea .form-item .form-type-textarea {
        width: 100%;
        margin: 0; }
        form .panel-default .panel-body .field--widget-text-textarea .form-item .form-type-textarea .form-textarea-wrapper textarea {
          height: auto; }
      form .panel-default .panel-body .field--widget-text-textarea .form-item .filter-wrapper {
        background-color: transparent;
        border: 0px solid #ddd; }
    form .panel-default .panel-body .field--name-field-terms-and-conditions .form-item, form .panel-default .panel-body .field--name-field-terms-and-conditions-user .form-item {
      width: 100%;
      margin: 0;
      text-align: justify; }

#edit-group-category .panel-heading {
  display: none; }

#edit-group-category .panel-body {
  margin: 0;
  padding: 0px 0px; }
  #edit-group-category .panel-body legend {
    margin-bottom: 10px;
    border-bottom: 0px solid #e5e5e5; }
    #edit-group-category .panel-body legend .fieldset-legend {
      float: left;
      font-weight: 400;
      font-size: 15px; }

#edit-group-incall .panel-heading, #edit-group-outcall .panel-heading {
  padding: 0;
  text-transform: capitalize; }

#edit-group-incall .panel-body, #edit-group-outcall .panel-body {
  margin: 0;
  padding: 0; }

#edit-group-photos-and-videos {
  display: none; }

article .form-no-label {
  display: none; }

#block-views-block-user-profile-block-1 {
  border: 1px;
  text-align: center;
  padding: 30px 0; }
  #block-views-block-user-profile-block-1 h2 {
    margin-bottom: 15px;
    color: #333e48; }
  #block-views-block-user-profile-block-1 .field-content {
    color: #c70039;
    line-height: 23px; }
    #block-views-block-user-profile-block-1 .field-content span {
      color: #333e48;
      font-weight: 100;
      font-size: 15px;
      margin: 0 5px; }

#block-views-block-user-profile-block-3 {
  padding: 30px 0; }
  #block-views-block-user-profile-block-3 .views-row:first-child img {
    float: left; }
  #block-views-block-user-profile-block-3 .views-row img {
    float: left;
    margin: 3px; }
  #block-views-block-user-profile-block-3 .views-row img:hover {
    opacity: 0.3; }

#second-content .usertab {
  background: #f9f9f9;
  /* padding: 100px; */
  margin-top: 60px;
  padding-top: 90px;
  padding-bottom: 100px; }
  #second-content .usertab .nav-tabs {
    border-bottom: 1px solid #ddd;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase; }
  #second-content .usertab .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center; }
  #second-content .usertab .nav-tabs > li > a {
    color: #333e48; }
  #second-content .usertab .nav-tabs > li.active > a, #second-content .usertab .nav-tabs > li.active > a:focus, #second-content .usertab .nav-tabs > li.active > a:hover {
    color: #900c3f;
    cursor: default;
    background-color: transparent;
    border-bottom: 2px solid #900c3f;
    border-bottom-color: #900c3f;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  #second-content .usertab .nav-tabs > li > a:hover {
    border-color: none;
    background: none;
    color: #c70039;
    border: none; }
  #second-content .usertab .aboutuser .intro {
    text-align: center; }
  #second-content .usertab .aboutuser span {
    color: #333e48;
    font-weight: 100;
    font-size: 14px;
    margin: 0 5px; }
  #second-content .usertab .aboutuser .moreintro p {
    float: none;
    text-align: right; }
  #second-content .usertab .aboutuser .rates h4 {
    font-weight: 100;
    font-size: 16px;
    color: #900c3f; }
  #second-content .usertab .aboutuser .rates h4.firsh {
    margin-top: 0; }
  #second-content .usertab .aboutuser .rates p {
    float: left; }
  #second-content .usertab .exclusiveimages a {
    float: left;
    width: 32%;
    margin: 7px; }

.path-user .page-header {
  display: none; }

#third-contnet .views-field-field-video-clip {
  text-align: center; }
  #third-contnet .views-field-field-video-clip video {
    width: 60%;
    height: auto;
    padding: 60px 0; }

section.module.parallax-3 {
  background-image: url(https://images.unsplash.com/photo-1582937588284-3f10bc112ec1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  padding: 100px 0 !important;
  background-position: 100% 0; }

section.module.parallax {
  min-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center; }

#termsandconditions {
  background-color: #333e48;
  color: #fff;
  padding: 40px 0;
  font-weight: 100; }
  #termsandconditions a {
    color: #ccc; }

#copyright {
  background: #101417;
  padding: 15px 0;
  color: #fff; }
