@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
    
}

@media only screen and (max-width: 768px) { 
    
}

@media only screen and (max-width: 767px) { 
   
    form {
        .panel-default {
            .panel-body {
                .form-item {
                    margin: 7px 0;
                    width: 100%;
                }
                .field--type-datetime, .field--type-decimal {
                    margin: 7px 0;
                    width: 100%;
                }
                .field--name-field-availability, .field--name-field-category, .field--name-field-gender {
                    width: 100%;
                    margin: 7px 0;
                    line-height: 27px;
                }
                .field--type-entity-reference {
                    width: 100%;
                    margin: 7px 0;
                }
                .field--widget-text-textarea {
                    .form-item {
                        width: 100%;
                    }
                }
            }
        }
    }

    #edit-group-photos-and-videos .field--type-file, #edit-group-photos-and-videos .field--type-image {
        width: 100%;
    }

}



@media only screen and (max-width: 500px) { 
   
}
