
body {
  margin-top: 0px;
  font-family: 'robotoregular',Helvetica,Arial,sans-serif;

  h1, h2{
    font-family: 'robotobold',Helvetica,Arial,sans-serif;
    font-weight: bold;
  }
  h3, h4{
    font-family: 'robotomedium',Helvetica,Arial,sans-serif;
    font-weight: bold;
  }
  .fontlight{
    font-family: 'robotolight',Helvetica,Arial,sans-serif;
  }
  .fontthin{
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 100;
  }
  color: #333e48;
}

a{ color: #900c3f;}
a:hover{ color: #c70039;}

.select-wrapper:after { color: #333e48;}

.btn-success {
  color: #fff;
  background-color: #900c3f ;
  border-color: #900c3f ;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-primary {
  color: #fff;
  background-color: #900c3f;
  border-color: #900c3f;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #c70039;
  border-color: #c70039;
}

.btn-success:hover {
  background-color: #c70039;
  border-color: #c70039;
}

.password-strength__indicator {
  background-color: #900c3f;
}

.page-header {
  text-transform: capitalize;
}

.path-user{
  .user-login-form{
    padding: 40px 0;
  }
}
.user-form  #edit-timezone{ display: none;}

#main-header{
  max-width: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 0px 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(144,12,63,0.8953956582633054) 0%);
  .firstnav{
    margin-top: -2px;
    background: #900c3f;
    .menu--account{
      li{
        a{
          padding: 5px 15px;
          color: #ccc;
          border-right: 1px solid #900c3f;
          text-transform: uppercase;
          font-size: 12px;
        }
        a:hover {
          text-decoration: none;
          background-color: #900c3f;
          color: #fff;
        }
      }
    }
  }
}

.navbar-default{
  padding: 0;
  background: 0 0;
  border: 0;
  border-radius: 0;
  margin: auto;
  .navbar-collapse{
    padding: 0;
    .navbar-nav {
      float: right;
      margin: 0;
      li{
        a{
          color: #ccc;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
        }
        a:hover{
          color: #fff;
          background-color: #900c3f;
        }
      }
    }
  }  
}

.headbanner{
  background-color: #fff;
  background-image: url(https://images.unsplash.com/photo-1582937588284-3f10bc112ec1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: 100%;
  background-position: center;
  .block-views-blockuser-profile-block-6{
    img{
      opacity: 0.0;
    }
  }
}

.profileedit{
  a{
    margin: 0 10px;
  }
}

#block-views-block-banners-block-1{
  margin-bottom: 40px;
}

#block-registrationbanner{
  padding: 100px 0;
  margin-bottom: 40px;
}

.user-register-form{ margin-bottom: 60px;}
form{
  .panel-default{
    border-color: #f9f9f9;
    .panel-heading {
      color: #900c3f;
      background-color: #f9f9f9;
      border-color: #f9f9f9;
      text-transform: uppercase;
    }
    .panel-body {
      padding: 15px;
      background: #fafafa;
      margin: 5px;
      
      .form-item{
        float: left;
        margin: 1%;
        width: 48%;
        box-shadow: none;
        label{
          text-transform: capitalize;
          font-weight: normal;
        }
        .form-control {
          border: 1px solid #f2f2f2;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
          height: 37px;
          width: 100%;
        }
      }
      .form-item.form-item-pass{
        width: 100%;
        margin: 0;
      }
      .field--type-decimal, .field--type-datetime{
        overflow: hidden;
        float: left;
        margin: 1%;
        width: 48%;
        label {
          font-weight: normal;
          margin-bottom: 0;
        }
        .form-item{
          width: 100%;
          margin:0;
        }
      }
      .field--type-entity-reference{
        overflow: hidden;
        float: left;
        width: 48%;
        margin: 1%;
        .form-item{
          width: 100%;
          margin: 0;
        }
      }
      .field--name-field-currency{
        width: 98%;
      }
      .field--name-field-gender, .field--name-field-category, .field--name-field-availability{
        width: 31.3%;
        .fieldset-legend{
          font-weight: 400;
          font-size: 14px;
        }
      }
      .field--widget-text-textarea{
        .form-item{
          width:98%;
          .form-type-textarea{
            width:100%;
            margin: 0;
            .form-textarea-wrapper{
              textarea{
                height: auto;
              }
            }
          }
          .filter-wrapper {
            background-color: transparent;
            border: 0px solid #ddd;
          }
        }
      }
      .field--name-field-terms-and-conditions, .field--name-field-terms-and-conditions-user{
        .form-item{
          width: 100%;
          margin: 0;
          text-align: justify;
        }
      }
    }
  }
}

#edit-group-category{
  .panel-heading{
    display: none;
  }
  .panel-body{
    margin: 0;
    padding: 0px 0px;
    legend{
      margin-bottom: 10px;
      border-bottom: 0px solid #e5e5e5;
      .fieldset-legend{
        float: left;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}

#edit-group-incall, #edit-group-outcall{
  .panel-heading{
    padding: 0;
    text-transform: capitalize;
  }
  .panel-body{
    margin: 0;
    padding: 0;
  }
}

#edit-group-photos-and-videos{
  display: none;
}

article {
  .form-no-label{
    display: none;
  }
}

#block-views-block-user-profile-block-1{
  border: 1px;
  text-align: center;
  padding: 30px 0;
  h2{
    margin-bottom: 15px;
    color: #333e48;
  }
  .field-content{
    color:#c70039;
    line-height: 23px;
    span{
      color: #333e48;
      font-weight: 100;
      font-size: 15px;
      margin: 0 5px;
    }
  }
}

#block-views-block-user-profile-block-3{
  padding: 30px 0;
  .views-row:first-child{
    img{
      float: left;
    }
  }
  .views-row{
    img{
      float: left;
      margin: 3px;
    }
    img:hover{
      opacity: 0.3;
    }
  }
}

#second-content{
  .usertab{
    background: #f9f9f9;
    /* padding: 100px; */
    margin-top: 60px;
    padding-top: 90px;
    padding-bottom: 100px;

    .nav-tabs {
      border-bottom: 1px solid #ddd;
      width: 50%;
      margin: auto;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    .nav-tabs>li {
      float: left;
      margin-bottom: -1px;
      width: 50%;
      text-align: center;
    }

    .nav-tabs>li>a {
      color: #333e48;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      color: #900c3f;
      cursor: default;
      background-color: transparent;
      border-bottom: 2px solid #900c3f;
      border-bottom-color: #900c3f;
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }

    .nav-tabs>li>a:hover {
      border-color: none;
      background: none;
      color: #c70039;
      border: none;
    }

    .aboutuser{
      .intro{
        text-align: center;
      }
      span{
        color: #333e48;
        font-weight: 100;
        font-size: 14px;
        margin: 0 5px;
      }
      .moreintro{
        p{
          float: none;
          text-align: right;
        }
      }
      .rates{
        h4{
          font-weight: 100;
          font-size: 16px;
          color: #900c3f;
        }
        h4.firsh{
          margin-top: 0;
        }
        p{
          float: left;
        }
      }
    }
    .exclusiveimages{
      a{
        float: left;
        width: 32%;
        margin: 7px;
      }
    }
  }
}

.path-user .page-header{
  display: none;
}

#third-contnet{
  .views-field-field-video-clip{
    text-align: center;
    video{
      width: 60%;
      height: auto;
      padding: 60px 0;
    }
  }
}

section.module.parallax-3 {
  background-image: url(https://images.unsplash.com/photo-1582937588284-3f10bc112ec1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  padding: 100px 0 !important;
  background-position: 100% 0;
}

section.module.parallax {
  min-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

#termsandconditions{
  background-color: #333e48;
  color: #fff;
  padding: 40px 0;
  font-weight: 100;
  a{
    color: #ccc;
  }
}

#copyright{
  background: #101417;
  padding: 15px 0;
  color: #fff;
}
